@import '../general/colors.scss';

.task-column {
  .task-header {
    padding: 1rem;

    h2 {

    }
  }

  .tasks {
    padding: 1rem;

    .task {
      padding: 1rem;
      border-bottom: 1px solid $gray300;

      h3 {

      }
    }
  }
}
